<div>
    <h2>Comentarii</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="comentariu.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Comentariu nou
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="continutComentariu"><span>Continut Comentariu</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dataComentariu"><span>Data Comentariu</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="reviewId"><span>Review</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="userId"><span>User</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="comentariu in vm.comentarius track by comentariu.id">
                    <td><a ui-sref="comentariu-detail({id:comentariu.id})">{{comentariu.id}}</a></td>
                    <td>{{comentariu.continutComentariu}}</td>
                        <td>{{comentariu.dataComentariu | date:'mediumDate'}}</td>
                    <td>
                        <a ui-sref="review-detail({id:comentariu.reviewId})">{{comentariu.reviewId}}</a>
                    </td>
                    <td>
                        {{comentariu.userId}}
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="comentariu-detail({id:comentariu.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="comentariu.edit({id:comentariu.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="comentariu.delete({id:comentariu.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
